<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>



<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6"></div>
    </div>

    <form class="form" method="POST">
        <div class="form-group">
            <label for="firstTextField">First Name</label>
            <input type="text" class="form-control"
            id="firstTextField"
            placeholder="Enter the first name"
            name="first" 
            value="<%= book.first %>"
            required>
        </div>

        <div class="form-group">
            <label for="lastTextName">Last Name</label>
            <input type="text" class="form-control"
            id="lastTextName"
            placeholder="Enter the last name"
            name="last" 
            value="<%= book.last %>"
            required>
        </div>
        
        <div class="form-group">
            <label for="phoneTextName">Phone Number</label>
            <input type="number" class="form-control"
            id="phoneTextName"
            placeholder="Enter the phone number"
            name="number" 
            value="<%= book.number %>"
            required>
        </div>

        <div class="form-group">
            <label for="emailTextName">E-mail</label>
            <input type="text" class="form-control"
            id="emailTextName"
            placeholder="Enter the e-mail"
            name="email" 
            value="<%= book.email %>"
            required>        
        </div>

        <button class="btn btn-primary">
            <i class="fas fa-edit"></i> Submit
        </button>

        <a href="/contact-list" class="btn btn-warning">
            <i class="fas fa-undo"></i> Cancel</a>
    </form>
</div>




<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>