<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>



<!-- List Page --> 
<img src="./Assets/images/contact-list-banner.jpg" class="img-fluid" alt="Responsive image"><br><br>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1 class="display-3" style="text-align: center;">Contact List</h1><br>
            
            <% if(typeof displayName == 'string' && displayName) { %>
            <a href="/contact-list/add" class="btn btn-primary" role="button">
            <i class="fas fa-plus-circle"></i> Add a contact</a><br><br>
            <% } %>
            <table class="table table-bordered table-striped table-hover">
            <!-- Header Row -->
            <tr>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Phone Number</th>
                <th class="text-center">E-Mail</th>
                <% if(typeof displayName == 'string' && displayName) { %>
                <th class="text-center"></th>
                <th class="text-center"></th>
                <% } %>
            </tr>

            <!-- Repeatable Template Row -->
            <% for(let count = 0; count < BookList.length; count++) { %>
            <tr>
                <td class="text-center"><%= BookList[count].first %></td>
                <td class="text-center"><%= BookList[count].last %></td>
                <td class="text-center"><%= BookList[count].number %></td>
                <td class="text-center"><%= BookList[count].email %></td>
                <% if(typeof displayName == 'string' && displayName) { %>
                <td class="text-center">
                    <a href="/contact-list/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm">
                    <i class="fas fa-pencil-alt"></i> Edit</a>
                </td>
                <td class="text-center">
                    <a href="/contact-list/delete/<%= BookList[count]._id %>" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash-alt"></i> Delete</a>
                </td>
                <% } %>
            </tr>
            <% } %> 
            </table><br><br><br><br>
        </div>
    </div>
</main>




<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>